form{
    padding: 45px 35px;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    width: fit-content;
    background-color: rgba(33, 31, 31, 0.752);
}
label{
    display: block;
    margin-bottom: 5px;
}
.input-div{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
    width: fit-content;
    overflow: hidden;
}
input{
    width: 200px;
    height: 30px;
}
/* .departure, .arrival{
    width: 208px;
} */

.icon-btn{
    display: flex;
    margin-top: 10px;
    background-color: #fff;
    color: #007bff;
    border: none;
    border-radius: 4px;
    padding: 8px 10px;
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
}
.icon-btn:hover{
    color: #fff;
    background-color: #007bff;
}

.btn-wrapper {
    display: flex;
    margin-top: 10px;
    /* background-color: #007bff; */
    /* color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer; */
    margin-top: 20px;
    justify-self: right;
    width: fit-content;
    align-self: flex-end;
    text-decoration: none;
  }
  button{
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    /* margin-top: 20px; */
    border-radius: 4px;
    padding: 10px 20px;
    justify-self: right;
    width: fit-content;
  }
  
  button:hover {
    background-color: #0056b3;
  }