
.Hero-container{
    background-image: url(../../assets/waiting.jpg);
    background-position: center;
    background-size: cover;
    height: 100svh;
    width: 100%;
    display: flex;
    background-color: yellow;
    background-color: rgba(20, 19, 19, 0.317);
}
.hero{
    width: 90%;
    height: 100%;
    margin: auto;
    color: #fff;
}
.hero, .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(20, 19, 19, 0.317);
    display: flex;
    @media (max-width: 768px){
        flex-direction: column;
    }
}
.Hero-text{
    color: #fff;
    /* background-color: aquamarine; */
    display: flex;
    flex: 1;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.Hero-text h3{
    font-weight: normal;
    font-size: 3rem;
    width: 70%;
    margin: 0 auto;
    line-height: 1;
    /* background-color: tomato; */
    @media (max-width: 768px){
        width: 90%;
        font-size: 2.5rem;
    }
}
.Hero-text p{
    width: 70%;
    margin: 0 auto;
    line-height: 1.5;
    font-weight: normal;
    /* background-color: tomato; */
    margin-top: 10px;
    letter-spacing: 2px;
    @media (max-width: 768px){
        width: 90%;
    }
}
.Hero-booking{
    /* background-color: salmon; */
    flex: 1;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}
.hero-span{
    font-weight: 200;
}